/* Adding poppins Font */

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

:root {
  /* Colors */

  --blue: #2a4dd0;
  --green: #4ca154;
  --black: #111729;
  --dark-blue: #223344;
  --grey: #909193;
  --light-grey: #f2f9fe;
  --white: #ffffff;

  /* Layout Measures */
  --desktop-width: 1280px;
  --tablet-width: 768px;
  --mobile-width: 425px;
  --mobile-xs-width: 320px;

  /* font sizes */

  --font-size-1: 3.75rem; /* 60px - Big text*/
  --font-size-2: 1.125rem; /* 18px - Body text */
  --font-size-3: 1rem; /* 16px - Buttons */
  --font-size-4: 0.875rem; /* 14px - Small text */
  --font-size-5: 0.75rem; /* 12px - Extra small text */
  --font-size-6: 0.625rem; /* 10px - Tiny text */

  /* Default light */
  /* General Colors */
  --background-color: var(--light-grey);
  --text-color: var(--black);
  --link-color: var(--grey);
  --link-active-color: var(--dark-blue);

  /* Theme toggler colors */
  --sun-icon-color: var(--dark-blue);
  --sun-icon-background-color: var(--white);
  --moon-icon-color: var(--white);
  --moon-icon-background-color: var(--dark-blue);

  /* Outline Colors */
  --highlight-color: #2a4dd0;
}

/*  Dark Mode Colors */
body.dark {
  /* General colors */
  --background-color: var(--black);
  --text-color: var(--white);
  --link-color: var(--light-grey);
  --link-active-color: var(--white);

  /* Theme toggler colors */
  --sun-icon-color: var(--white);
  --sun-icon-background-color: var(--dark-blue);
  --moon-icon-color: var(--dark-blue);
  --moon-icon-background-color: var(--white);

  /* Outline Colors */
  --highlight-color: var(--grey);
}

body {
  min-height: 100vh;
  font-family: "Poppins", sans-serif, Arial, Helvetica;
  font-size: var(--font-size-2);
  line-height: 1.5;

  /* Default Light colors */
  background-color: var(--background-color);
  color: var(--text-color);

  max-width: var(--desktop-width);
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */

header {
  padding: 1rem 5%;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem;
}

nav ul.header-links-list {
  list-style-type: none;
  gap: 2rem;
}

nav ul li a {
  color: var(--grey);
  font-weight: 500;
  font-size: var(--font-size-4);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--link-color);
}

nav ul li a.active {
  color: var(--link-color);
}

/* link in dark mode */
nav ul li a.active {
  color: var(--link-active-color);
}

/* Theme toggler */

.theme-toggle-wrapper-desktop {
  position: relative;
  justify-content: center;
  width: 70px;
  height: 30px;
  border-radius: 15px;
  background-color: var(--dark-blue);
}

.theme-toggle-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.theme-toggle-checkbox:focus-visible + .theme-toggle-label {
  outline: 2px solid var(--highlight-color); /* Ajusta esto a tu color de resalte */
  outline-offset: 4px;
  border-radius: 15px;
}

.theme-toggle-label {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding-inline: 0.25rem;
  border-radius: 24px;
  transition: background-color 0.3s;
}

/* Icons general styles */
#icon-sun,
#icon-moon {
  transition: all 0.3s, stroke 0.3s;
  border-radius: 15px;
}

/* Toggle icons */

.theme-toggle-label svg {
  border-radius: 15px;
}

#icon-sun {
  fill: var(--sun-icon-color);
  stroke: var(--sun-icon-color);
  background-color: var(--sun-icon-background-color);
}

#icon-moon {
  fill: var(--moon-icon-color);
  stroke: var(--moon-icon-color);
  background-color: var(--moon-icon-background-color);
}

/* End of theme toggler */

#mobile-hamburger {
  color: var(--grey);
}

/* Menu mobile */


.overlay {
  display: none;
}

.mobile-menu {
  position: fixed;
  gap: 1.25rem;
  top: 0;
    right: 0;
  transform: translateX(100%);
  width: 250px;
  height: 100%;
  background-color: var(--white);
  color: #fff;
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.mobile-menu nav.mobile ul {
  gap: 2rem;
}

.mobile-menu nav.mobile ul li a {
  color: var(--grey);
  font-size: var(--font-size-2);
}

.mobile-menu nav.mobile ul li a.active {
  color: var(--dark-blue);
}

.close-menu {
    background: none;
    border: none;
    color: var(--dark-blue);
    font-size: 32px;
    cursor: pointer;
    align-self: flex-end;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.show-menu {
    transform: translateX(0);
}

.show-overlay {
    display: block;
}

/* END OF HEADER */

.hero {
  padding: 5rem 5%;
  gap: 8rem;
}

.hero-content {
  flex: 1;
  order: 2;
  max-width: 90%;
}

.tagline {
  font-weight: 600;
  margin-bottom: 1rem;
  gap: 0.3rem;
  font-size: var(--font-size-5);
}

.hero-content h1 {
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 700;
}

.hero-content .description {
  font-size: var(--font-size-4);
  margin-bottom: 2rem;
  margin-top: 3rem;
  color: var(--grey);
  max-width: 22rem;
  font-weight: 600;
}

.cta-buttons {
  gap: 1rem;
}

.cta-buttons a {
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.cta-buttons a:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  filter: brightness(1.1);
}

.cta-buttons a.primary {
  background-color: var(--blue);
  color: white;
  font-size: var(--font-size-3);
}

.cta-buttons a.secondary {
  background-color: transparent;
  color: var(--blue);
  text-decoration: underline;
  font-size: var(--font-size-4);
}

.features {
  gap: 2rem;
  margin-top: 2rem;
}

.feature {
  align-items: center;
  font-size: var(--font-size-4);
  color: var(--grey);
  gap: 0.5rem;
}

.feature img {
  width: 20px;
  height: 20px;
}

.hero-image {
  flex: 1;
  position: relative;
  order: 1;
}

.hero-image img {
  width: 100%;
  height: auto;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1024px) {
  .theme-toggle-wrapper-desktop {
    display: flex;
  }

  .header-links-list {
    display: flex;
  }

  #mobile-hamburger {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    flex-direction: row;
    gap: 0;
  }

  .hero-content {
    order: 1;
    max-width: 50%;
  }

  .hero-image {
    order: 2;
  }
}
